@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }
}
